<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EW12C.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EW12C.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.88.1</value>
            </setting>
            <setting name="sshUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="sshPass" serializeAs="String">
                <value>vnpt</value>
            </setting>
            <setting name="fwVersion" serializeAs="String">
                <value>EW12_00BASIC_RC02</value>
            </setting>
            <setting name="fwBuildTime" serializeAs="String">
                <value>Thu Jan 9 16:58:23 +07 2020</value>
            </setting>
            <setting name="hwVersion" serializeAs="String">
                <value>EW12C000H0001</value>
            </setting>
            <setting name="modelNumber" serializeAs="String">
                <value>EW12C</value>
            </setting>
        </EW12C.Properties.Settings>
    </userSettings>
</configuration>